.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fefefe;

  background-size: auto;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    background-image: url(../images/footer/1apple@1x-mob.png),
      url(../images/footer/1fruit@1x-mob.png),
      url(../images/footer/1orange@1x-mob.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/1apple@2x-mob.png),
        url(../images/footer/1fruit@2x-mob.png),
        url(../images/footer/1orange@2x-mob.png);
    }

    background-position: left 0 top 132px, bottom center, top right;
  }

  @media screen and (min-width: 768px) {
    margin-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/footer/2fruit@1x-tab.png),
      url(../images/footer/2orange@1x-tab.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/2fruit@1x-tab.png),
        url(../images/footer/2orange@1x-tab.png);
    }

    background-position: bottom center, top right;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer/3fruit@1x-des.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/3fruit@2x-des.png);
    }

    background-position: bottom center;
  }
}

.footer__menu {
  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.footer__nav {
  display: flex;
  //   justify-content: ;
  //   align-items: center;
  //   align-items: baseline;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.footer__list {
  //   margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  //   @media screen and (min-width: 1280px) {
  //     margin-bottom: 147px;
  //   }
}
.footer__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    // margin-right: auto;
    // transform: translateX(-50%);

    font-family: var(--main-font);

    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #000000;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 28px;
  }
  @media screen and (min-width: 1280px) {
    color: var(--main-txt-cl);
  }

  .footer__list:last-child {
    margin-bottom: 0;
  }
  //
  //
  //
}

.logo__img {
  //   display: flex;
  @media screen and (max-width: 768px) {
    margin-right: 81px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 114px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 148px;
    // margin-bottom: 100px;
  }
}

.subscribe__section {
  @media screen and (min-width: 1280px) {
    // margin-top: 40px;
    margin-left: auto;
  }
  //   padding-left: 320px;
  //   padding-top: 100px;
}
.subscriber__text {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-txt-color);
  margin-bottom: 12px;

  //   @media screen and (min-width: 768px) {
  //     font-size: 16px;
  //   }
}

.form-subscription {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: end;
  text-align: end;

  @media screen and (min-width: 768px) {
    display: flex;
    text-align: start;
  }
}
.subscription-form {
  flex-direction: column;
}

.form-subscription__label {
  display: block;
  text-align: end;
}

.subscription__input {
  max-width: 703px;
  min-width: 279px;
  width: 100%;
  height: 42px;
  padding: 12px;
  @media screen and (max-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 13px;
    width: 279px;
    max-width: 279px;
  }
  //   @media screen and (min-width: 1280px) {
  //     margin-right: 13px;
  //   }

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  //   color: #505050;
  display: block;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffe550;
  border-radius: 30px;
  margin-bottom: 20px;
}

.form-subscription__btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  width: 102px;
  height: 42px;
  padding: 11px 22px;
  background: #bbf330;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 768px) {
    text-align: end;
  }

  @media screen and (min-width: 1280px) {
    background: #ffffff;
    // border: 1px solid #7eb101;
  }
}

.form-subscription__btn:hover,
.form-subscription__btn:focus {
  background: #b5ff00;
  @media screen and (min-width: 1280px) {
    background: #ffe550;
    border: 1px solid #7eb101;
  }
}

.subscription__policy {
  text-align: start;
}
.subscription__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #2c2c2c;

  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-top: 12px;
  }
}

.subscription__link {
  color: #7eb101;
  text-decoration: underline;
}

.footer__info {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.info__list {
  display: flex;
  justify-content: space-between;

  text-decoration-line: underline;
  gap: 20px;
  padding-left: 16px;
  color: #7eb101;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}
// .info-servis {
//   padding-right: 780px;
// }

.info__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(14 / 12);

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.footer__copyright {
  text-align: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(14 / 12);
  color: #2c2c2c;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
.pwm-field-icon {
  display: none;
}
.text-field__input {
  outline: none;
}
.text-field__input {
  background-image: none;
}
.text-field__input:placeholder-shown:focus {
  border-color: #ffe550;
  box-shadow: 0 0 0 0.15rem #f4e382;
  background-image: none;
}

.text-field__input:invalid,
.text-field__input:valid {
  border-color: #dc3545;
  padding-right: 2.25rem;
}

.text-field__input:valid {
  border-color: #ffe550;
}

.text-field__input:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.15rem rgba(189, 41, 56, 0.714);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}

.text-field__input:valid:not(:placeholder-shown) {
  border-color: #7eb101;
  box-shadow: 0 0 0 0.15rem #b5ff00;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}
