<section class="customers-section">
    <h2 class="customers-title">What our Customers Say</h2>
    <h3 class="customers-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    <ul class="customers-list list">
        <li class="customers-list__item">
            <p>“The Best app I have used to order food in a while, so many options to choose from too, I would recommend
                to a freind,
                No questions asked”</p>

            <p>Sumith Shah</p>
            <p>Some Dude</p>


        </li>
        <li class="customers-list__item">
            <p>“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant
                experience ordering
                from this app”</p>

            <p>Sumith Shah</p>
            <p>Some Dude</p>
        </li>
    </ul>

</section>