<div class="customers-background">
    <section class="customers-section">
        <div class="container customers-container">
            <h2 class="customers-title">What our Customers Say</h2>
            <h3 class="customers-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <ul class="customers-list list">
                <li class="customers-list__item">
                    <svg class="customers-list__icon" width="101" height="16">
                        <use href="./images/icons/icons.svg#stars"></use>
                    </svg>
                    <p class="customers-list__text">“The Best app I have used to order food in a while, so many
                        options
                        to
                        choose from too, I would recommend
                        to a freind,
                        No questions asked”</p>

                    <img srcset="./images/customers_say/avatarb@1x.png 1x, ./images/customers_say/avatarb@2x.png 2x"
                        src="./images/customers_say/avatarb@1x.png" alt="boy" width="48" class="customers-img">
                    <div class="thumb">

                        <h4 class="customers-list__name">Sumith Shah</h4>
                        <p class="customers-list__tx">Some Dude</p>
                    </div>
                </li>

                <li class="customers-list__item">
                    <svg class="customers-list__icon" width="101" height="16">
                        <use href="./images/icons/icons.svg#stars"></use>
                    </svg>
                    <p class="customers-list__text">“The ease with which I can just go in and order what i want was
                        amazing,
                        It
                        has been a very pleasant
                        experience ordering
                        from this app”</p>
                    <img srcset="./images/customers_say/avatarg@1x.png 1x, ./images/customers_say/avatarg@2x.png 2x"
                        src="./images/customers_say/avatarg@1x.png" alt="girl" width="48" class="customers-img">
                    <div class="thumb">
                        <h4 class="customers-list__name">Sumith Shah</h4>
                        <p class="customers-list__tx">Some Dude</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>