<!-- favorites section-->
<section class="favorites">
  <div class="favorites-container container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list list">
      <li class="favorites-list__item" data-clip="content-box">
        <a
          class=""
          href="#"
          target="_blank"
          rel="noopener norefferer"
          aria-label="logo-c"
        >
          <picture>
            <!-- Desktop -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/favorites/img-1_lg@1x.webp 1x,
                ./images/favorites/img-1_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/favorites/img-1_lg@1x.png 1x,
                ./images/favorites/img-1_lg@2x.png 2x
              "
              type="image/png"
            />
            <!-- Tablet -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1_md@1x.webp 1x,
                ./images/favorites/img-1_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/favorites/img-1_md@1x.png 1x,
                ./images/favorites/img-1_md@2x.png 2x
              "
              type="image/png"
            />
            <!-- Mobile -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/img-1_sm@1x.webp 1x,
                ./images/favorites/img-1_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/favorites/img-1_sm@1x.png 1x,
                ./images/favorites/img-1_sm@2x.png 2x
              "
              type="image/png"
            />
            <!-- fallback -->
            <img
              class="favorites-list_img"
              src="./images/favorites/img-1_sm@1x.png"
              alt="dish"
            /> </picture
        ></a>
      </li>
      <li class="favorites-list__item" data-clip="content-box">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-2_lg@1x.webp 1x,
              ./images/favorites/img-2_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-2_lg@1x.png 1x,
              ./images/favorites/img-2_lg@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-2_md@1x.webp 1x,
              ./images/favorites/img-2_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-2_md@1x.png 1x,
              ./images/favorites/img-2_md@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img-2_sm@1x.webp 1x,
              ./images/favorites/img-2_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img-2_sm@1x.png 1x,
              ./images/favorites/img-2_sm@2x.png 2x
            "
            type="image/png"
          />
          <!-- fallback -->
          <img
            class="favorites-list_img"
            src="./images/favorites/img-2_sm@1x.png"
            alt="dish"
          />
        </picture>
      </li>
      <li class="favorites-list__item" data-clip="content-box">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-3_lg@1x.webp 1x,
              ./images/favorites/img-3_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-3_lg@1x.png 1x,
              ./images/favorites/img-3_lg@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-3_md@1x.webp 1x,
              ./images/favorites/img-3_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-3_md@1x.png 1x,
              ./images/favorites/img-3_md@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img-3_sm@1x.webp 1x,
              ./images/favorites/img-3_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/favorites/img-3_sm@1x.png 1x,
              ./images/favorites/img-3_sm@2x.png 2x
            "
            type="image/png"
          />
          <!-- fallback -->
          <img
            class="favorites-list_img"
            src="./images/favorites/img-3_sm@1x.png"
            alt="dish"
          />
        </picture>
      </li>
      <li class="favorites-list__item" data-clip="content-box">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-4_lg@1x.webp 1x,
              ./images/favorites/img-4_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-4_lg@1x.png 1x,
              ./images/favorites/img-4_lg@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-4_md@1x.webp 1x,
              ./images/favorites/img-4_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-4_md@1x.png 1x,
              ./images/favorites/img-4_md@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <!-- fallback -->
          <img
            class="favorites-list_img"
            src="./images/favorites/img-4_md@1x.png"
            alt="dish"
          />
        </picture>
      </li>
      <li class="favorites-list__item" data-clip="content-box">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-5_lg@1x.webp 1x,
              ./images/favorites/img-5_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-5_lg@1x.png 1x,
              ./images/favorites/img-5_lg@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-5_md@1x.webp 1x,
              ./images/favorites/img-5_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-5_md@1x.png 1x,
              ./images/favorites/img-5_md@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <!-- fallback -->
          <img
            class="favorites-list_img"
            src="./images/favorites/img-5_md@1x.png"
            alt="dish"
          />
        </picture>
      </li>
      <li class="favorites-list__item" data-clip="content-box">
        <picture>
          <!-- Desktop -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-6_lg@1x.webp 1x,
              ./images/favorites/img-6_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/favorites/img-6_lg@1x.png 1x,
              ./images/favorites/img-6_lg@2x.png 2x
            "
            type="image/png"
          />
          <!-- Tablet -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-6_md@1x.webp 1x,
              ./images/favorites/img-6_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/favorites/img-6_md@1x.png 1x,
              ./images/favorites/img-6_md@2x.png 2x
            "
            type="image/png"
          />
          <!-- Mobile -->
          <!-- fallback -->
          <img
            class="favorites-list_img"
            src="./images/favorites/img-6_md@1x.png"
            alt="dish"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
