  <header class="head">
    <div class="container header--flex">
      <div class="logo">
        <svg class="logo__svg" width="71.37" height="52">
          <use href="./images/icons/icons.svg#logo"></use>
        </svg>
      </div>
  
      <div class="menu">
        <svg class="menu__svg" width="28" height="28">
          <use href="./images/icons/icons.svg#gg_menu"></use>
        </svg>
  
        <ul class="menu--list">
          <li class="menu--list__itam">Home</li>
          <li class="menu--list__itam">About</li>
          <li class="menu--list__itam">Servise</li>
          <li class="menu--list__itam">Menu</li>
          <li class="menu--list__itam">Contact</li>
        </ul>
        <button class="header-btn">Order Now</button>
      </div>
    </div>
  </header>

