<header class="head">
  <div class="container header--flex">
    <div class="logo">
      <svg class="logo__svg" width="66" height="52">
        <use href="./images/icons/icons.svg#logo"></use>
      </svg>
    </div>

    <div class="menu">
      <svg class="menu__svg" width="28" height="28">
        <use href="./images/icons/icons.svg#gg_menu"></use>
      </svg>
      <nav class="nav">
      <ul class="menu-list list">
        <li class="menu-list__item menu-list__item--first">
          <a href="./" class="menu-list__link menu-list__link--after link">Home</a>
        </li>
        <li class="menu-list__item">
          <a href="./" class="menu-list__link menu-list__link--after link">About</a>
        </li>
        <li class="menu-list__item">
          <a href="./" class="menu-list__link menu-list__link--after link">Servise</a>
        </li>
        <li class="menu-list__item">
          <a href="./" class="menu-list__link menu-list__link--after link">Menu</a>
        </li>
        <li class="menu-list__item menu-list__item--last">
          <a href="./" class="menu-list__link menu-list__link--after link">Contact</a>
        </li>
        <li class="menu-list__item">
          <button class="header-btn">Order Now</button>
        </li>
      </ul>
      
    </nav>
    </div>
  </div>
</header>
