<!--секція герой-->
<section class="hero section">
  <div class="hero__container container">
    <h1 class="hero__title title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__info info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__btn btn">Order Now</button>
  </div>
  <div class="img__food img">
    <img class="img__food--list" src="./images/hero/food.png" width="528" height="528" alt="healthy food" />
  </div>
</section>