<!--секція герой-->
<section id="about" class="hero section">
  <div class="hero__container container">
    <h1 class="hero__title title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__info info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__btn btn">Order Now</button>


    <div class="swiper-container">


      <!-- swiper slides -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="./images/slider/food-1@1x-lg.webp 1x, ./images/slider/food-1@2x-lg.webp 2x" type="image/webp">
            <source media="(min-width: 1280px)"
              srcset="./images/slider/food-1@1x-lg.png 1x, ./images/slider/food-1@2x-lg.png 2x" type="image/png">

            <source media="(min-width: 768px)"
              srcset="./images/slider/food-1@1x-md.webp 1x, ./images/slider/food-1@2x-md.webp 2x" type="image/webp">
            <source media="(min-width: 768px)"
              srcset="./images/slider/food-1@1x-md.png 1x, ./images/slider/food-1@2x-md.png 2x" type="image/png">

            <img class="swiper-img" src="./images/slider/food-1@1x-lg.png" alt="salat" width="528" height="528">
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 1280px)"
              srcset="./images/slider/food-2@1x-lg.webp 1x, ./images/slider/food-2@2x-lg.webp 2x" type="image/webp">
            <source media="(min-width: 1280px)"
              srcset="./images/slider/food-2@1x-lg.png 1x, ./images/slider/food-2@2x-lg.png 2x" type="image/png">

            <source media="(min-width: 768px)"
              srcset="./images/slider/food-2@1x-md.webp 1x, ./images/slider/food-2@2x-md.webp 2x" type="image/webp">
            <source media="(min-width: 768px)"
              srcset="./images/slider/food-2@1x-md.png 1x, ./images/slider/food-2@2x-md.png 2x" type="image/png">

            <img class="swiper-img" src="./images/slider/food-2@1x-lg.png" alt="salat" width="528" height="528">
          </picture>
        </div>

        <div class="swiper-slide">

          <picture>
            <source media="(min-width: 1280px)"
              srcset="./images/slider/food-3@1x-lg.webp 1x, ./images/slider/food-3@2x-lg.webp 2x" type="image/webp">
            <source media="(min-width: 1280px)"
              srcset="./images/slider/food-3@1x-lg.png 1x, ./images/slider/food-3@2x-lg.png 2x" type="image/png">

            <source media="(min-width: 768px)"
              srcset="./images/slider/food-3@1x-md.webp 1x, ./images/slider/food-3@2x-md.webp 2x" type="image/webp">
            <source media="(min-width: 768px)"
              srcset="./images/slider/food-3@1x-md.png 1x, ./images/slider/food-3@2x-md.png 2x" type="image/png">

            <img class="swiper-img" src="./images/slider/food-3@1x-lg.png" alt="salat" width="528" height="528">
          </picture>
        </div>
      </div>

      <!-- next / prev arrows -->
      <div class="swiper-button">
        <div class="swiper-button-next">
          <div class="swiper-wrap-icon">
            <svg class="swiper-icons swiper-icon--right" width="16" height="29">
              <use href="./images/icons/icons.svg#right"></use>
            </svg>
          </div>
        </div>

        <div class="swiper-button-prev">
          <div class="swiper-wrap-icon">
            <svg class="swiper-icons swiper-icon--left" width="16" height="29">
              <use href="./images/icons/icons.svg#left"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="img__food img">
    <img class="img__food--list" src="./images/hero/food-1.png" width="528" height="528" alt="healthy food" />
  </div> -->
</section>