<div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
        <p class="modal__text">Order Form</p>
        <form class="modal__form">
            <ul class="modal__list">
                <li class="modal__item">
                    <label class="modal__label">Name
                        <span class="modal__line">
                            <input class="modal__input" type="text" name="name" autofocus required
                                placeholder="Your name">
                        </span>
                    </label>
                </li>

                <li class="modal__item">
                    <label class="modal__label">Phone number
                        <span class="modal__line">
                            <input class="modal__input" type="tel" name="tel" required
                                placeholder="+38(0_ _) _ _ _   _ _   _ _">
                        </span>
                    </label>
                </li>

                <li class="modal__item">
                    <label class="modal__label">E-mail
                        <span class="modal__line">
                            <input class="modal__input" type="email" name="email" required
                                placeholder="example@gmail.com">

                        </span>
                    </label>
                </li>
            </ul>
            <button class="modal-btn">Send</button>
        </form>

        <button class="modal__btn" type="button" data-modal-close>
            <svg class="modal__svg" width="24" height="24">
                <use href="./images/icons/symbol-defs.svg#icon-main-modal-exit"></use>
            </svg>
        </button>
    </div>
</div>