<!-- секція переваги-->
<section class="offerings section">
  <div class="offerings_img">
    <img
      class="offerings-img img"
      src="#"
      alt="green apple"
      width="396"
      height="502"
    />
  </div>
  <div class="offerings_conteiner">
    <h2 class="offerings_title">What’s Special About Our Offerings</h2>
    <p class="offerings_paragraf">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
  </div>
  <!--про переваги-->
  <div class="benefits">
    <ul class="benefits_list list">
      <li class="benefits_item item">
        <h3 class="benefits_title title">Fasest Delivery</h3>
        <p class="benefits_info info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
        <div class="benefits_icon">
          <svg class="benefits-icon icon" width="32" height="32">
            <use href="./images/icons/icons.svg#rocket"></use>
          </svg>
        </div>
      </li>
      <li class="benefits_item item">
        <h3 class="benefits_title title">Easy To Order</h3>
        <p class="benefits_info info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
        <div class="benefits_icon">
          <svg class="benefits_icon icon" width="32" height="32">
            <use href="./images/icons/icons.svg#touch_app"></use>
          </svg>
        </div>
      </li>
    </ul>
    <button class="benefits_btn">Order Now</button>
  </div>
</section>
