<!-- <button class="slider--right">
  <svg class="slider__icon" width="40" height="48">
    <use href="./images/icons/icons.svg#left_arrow"></use>
  </svg>
</button>
<button class="slider--left">
  <svg class="slider__icon" width="40" height="48">
    <use href="./images/icons/icons.svg#right_arrow"></use>
  </svg>
</button>

<div class="slider">
  <div class="slider-line">
    <img class="slider__img" src="./images/slider/foto-1.png" alt="Buckwheat with toast and sauce" width="528px"
      height="528px">
    <img class="slider__img" src="./images/slider/foto-2.png" alt="Greek salad" width="528px" height="528px">
    <img class="slider__img" src="./images/slider/foto-3.png" alt="Salat with avocado and egges" width="528px"
      height="528px">
  </div>
</div> -->