<section id="contact" class="subscribe-section">
  <div class="container">
    <div class="container-subscriber">
      <picture class="banan-img">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/subscribe/banan@1xbg.webp 1x,
            ./images/subscribe/banan@2xbg.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/subscribe/banan@1xbg.png 1x,
            ./images/subscribe/banan@2xbg.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/subscribe/banan@1xl.webp 1x,
            ./images/subscribe/banan@2xl.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/subscribe/banan@1xl.png 1x,
            ./images/subscribe/banan@2xl.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/subscribe/banan@1xm.webp 1x,
            ./images/subscribe/banan@2xm.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 480px)"
          srcset="
            ./images/subscribe/banan@1xm.png 1x,
            ./images/subscribe/banan@2xm.png 2x
          "
          type="image/png"
        />
        <img src="./images/subscribe/banan@1xm.png" alt="banan" />
      </picture>

      <h2 class="subscriber-title">Subscribe To Get Special Offers</h2>
      <h3 class="subscriber-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </h3>
      <div class="form-subscription__box">
        <form class="form-subscription">
          <label class="form-subscription__label">
            <input
              class="form-subscription__input text-field__input"
              type="email"
              name="email"
              placeholder="Enter your email"
            />
          </label>
          <button class="form-subscription__btn" type="submit">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
