<section class="subscribe-section">
    <div class="container">
        <h2 class="subscriber-title">Subscribe To Get Special Offers</h2>
        <h3 class="subscriber-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
            in
            eros elementum tristique.
        </h3>
        <div class="form-subscription__box">
            <form class="form-subscription">
                <label class="form-subscription__label">
                    <input class="form-subscription__input" type="email" name="email" placeholder="Enter your email">
                </label>
                <button class="form-subscription__btn" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>